<h1>About</h1>
<div >
  <h4 style="color:#2A9FD6">I've recently been planning a trip to Asia with friends. After figuring out
    the general locations we wanted to visit, we still knew little about the area.</h4>
    <br>
    <h4 style="color:#2A9FD6">So we went to YouTube to find travel videos that would better showcase the area.</h4>
    <br>

    <h4 style="color:#2A9FD6">Whereto.tv is a tool to help stir up ideas for future trips, or help narrow down on great experiences in certain locations.
  </h4>
</div>
