<h1>About</h1>
<div >
  <h4 style="color:#2A9FD6">I recently planned a trip to Asia with friends. After figuring out
    the general locations we wanted to visit, we still knew little about the area.</h4>
    <br>
    <h4 style="color:#2A9FD6">We went to YouTube to find travel videos that would better showcase the locations.</h4>
    <br>

    <h4 style="color:#2A9FD6">Wherenext.tv is a tool to help stir up ideas for future trips, or help narrow down on great experiences in certain locations.
  </h4>
  <br>
  <h4>You can contact me <%=link_to("@rjforgeon","https://twitter.com/rjforgeon", :target => "_blank")%></h4>
  <br>
  <h4>Enjoy!</h4>

</div>
